* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#heading {
    font-size: 80px;
    font-weight: 200;
    color: #b83f45;
}

.input-wrapper {
    display: flex;
    flex-direction: row;
    width: 562.5px;
    text-align: center;
    justify-content: center;
    box-shadow: inset 0 -1px 5px 0 #e6e6e6;
    background-color: white;
}

#toggle {
    width: 62.5px;
    color: grey;
    background-color: transparent;
    border: none;
}

#toggle:focus {
    box-shadow: inset 0 -1px 5px 0 #b83f45;
}

#input-bar {
    padding-left: 20px;
    height: 65px;
    width: 500px;
    font-size: 24px;
    border: none;
    background-color: transparent;
    font-style: italic;
}

#input-bar:focus {
    box-shadow: inset 0 -1px 5px 0 #b83f45;
    outline: none;
}

.todo-list {
    list-style-type: none;
}

#list-item {
    display: flex;
    flex-direction: row;
    width: 562.5px;
    height: 65px;
    box-shadow: inset 0 -1px 5px 0 #e6e6e6;
    background-color: white;
    font-size: 24px;
    align-items: center;
    padding: 10px;

}

label {
    display: flex;
    align-items: center;
}

.todo-checkbox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.delete-button {
    visibility: hidden;
    margin-left: auto;
}

#list-item:hover .delete-button {
    visibility: visible;
    filter: grayscale(100%);
}

#list-item:hover .delete-button:hover {
    filter: grayscale(0%);
}

.filters {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 40px;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: inset 0 -1px 5px 0 #e6e6e6;
    background-color: white;
}

a,
#clear-completed {
    font-size: 15px;
    color: black;
    text-decoration: none;
    border: solid 1px transparent;
    padding: 3px;
    border-radius: 5%
}

a:hover {
    border: solid 1px #b83f45;

}

#clear-completed:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    width: 100%;
    margin-right: 20px;
    margin-left: 5px;
    font-size: 11px;
}

.checked-item {
    text-decoration: line-through;
    color: gray;
}

@media screen and (max-width: 562.5px) {

    .input-wrapper,
    #list-item,
    .filters {
        width: 100%;
    }

    #input-bar,
    .todo-list {
        width: 100%;
    }

    a {
        margin-left: 5px;
    }
}